body {
  font-family: "Arial", sans-serif;
  background-color: #282c34;
  color: #ffa500;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-top: 50px;
  background-color: #2d3748;
}

.title {
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}

.password-container {
  display: flex;
  border: 1px solid #4a5568;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

.password-input {
  flex: 1;
  outline: none;
  padding: 10px;
  background-color: #2d3748;
  color: #ffa500;
  border: none;
}

.copy-button {
  background-color: #4299e1;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #12487b;
}

.options-container {
  display: flex;
  font-size: 14px;
}

.option {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.option label {
  margin-left: 5px;
  color: #a0aec0;
}

.option input {
  margin-right: 5px;
}
